<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil dos candidatos</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
    <div class="top-container">
        <h2>Perfil dos candidatos - Eleições 2026 - MG</h2>
        <p>Filtre por gênero, escolaridade e faixa etaria</p>
    </div>
    <div class="main">
        <div class="left-main">
            <div class="left-main-genero">
                <p>Gênero</p>
                <form method="get" th:action="@{/}">
                    <input type="radio" id="todos" name="todos" value="todos" checked />
                    <label for="todos">Todos</label>
                    <div>
                        <input type="radio" id="feminino" name="feminino" value="feminino" />
                        <label for="feminono">feminino</label>
                    </div>

                    <div>
                        <input type="radio" id="masculino" name="masculino" value="masculino" />
                        <label for="masculino">masculino</label>
                    </div>
                    <div>
                        <input type="radio" id="n-divulgavel" name="n-divulgavel" value="n-divulgavel" />
                        <label for="n-divulgavel">não divulgável</label>
                    </div>
            </div>
            <div class="left-main-escolaridade">
                <p>Escolaridade</p>

                <select name="escolaridade" id="escolaridade-select">
                    <option value="">Escolha uma opção</option>
                    <option value="fundamental">Fundamental</option>
                    <option value="tecnico">Técnico</option>
                    <option value="superior">Superior</option>
                    <option value="mestrado">Mestrado</option>
                    <option value="doutorado">Doutorado</option>
                </select>
            </div>
            <div class="left-main-faixaEtaria">
                <input type="number" name="idadeMin" th:value"${idadeMin}" size="10" />
                <p>Até</p>
                <input type="number" name="idadeMax" th:value"${idadeMax}" size="10" />
            </div>
            <div class="left-main-buttons">
                <button>Filtrar</button>
                <button>Limpar</button>
            </div>
            </form>
        </div>
    </div>
    </div>
</body>

</html>